apiVersion: storage.k8s.io/v1
kind: StorageClass
metadata:
  name: ebs-sc-dynamic
provisioner: ebs.csi.aws.com
volumeBindingMode: WaitForFirstConsumer
parameters:
  type: gp3  # Optional: specify EBS volume type
  fsType: ext4