name: Medium | Update README with Kubernetes Blogs

on:
  schedule:
    - cron: '0 4 * * *'  # Runs daily at 4 AM UTC
  workflow_dispatch:

jobs:
  update-readme:
    runs-on: ubuntu-latest
    if: ${{ github.repository_owner == 'anveshmuppeda' }} # Only run in your repository

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: dev       # ensures the runner is on the dev branch
          fetch-depth: 0 # (optional) fetch full history if you need to push tags, etc.

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install feedparser

      - name: Fetch and update README
        run: |
          # cd ./.github/scripts/
          python ./.github/scripts/update_readme.py

      # - name: Commit and push changes
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.PR_PAT_TOKEN }}
      #   run: |
      #     # cd ./.github/scripts/
      #     git config --global user.name "GitHub Actions"
      #     git config --global user.email "actions@users.noreply.github.com"
      #     git add README.md
      #     git commit -m "Update README with latest Kubernetes blogs"
      #     git push origin dev
      
      - name: Commit and push changes
        uses: EndBug/add-and-commit@v7
        with:
          add: 'README.md'
          message: "Update README with latest Kubernetes blogs"
          signoff: true
          push: true
          branch: dev
          author_name: "Kubernetes CI"
          author_email: "k8s-ci-robot@users.noreply.github.com"
          #token: ${{ secrets.PR_PAT_TOKEN }}
